<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="./css/contact.css">
</head>

<body>
  <form action="https://formspree.io/f/mnqwlywn" method="POST">
    <div class="container">
      <div class="row">
        <h1>Contact Me</h1>
      </div>
      <div class="row">
        <h4 style="text-align:center">I would love to hear from you!</h4>
      </div>
      <div class="row input-container">
        <div class="col-xs-12">
          <div class="styled-input wide">
            <input type="text" required />
            <label>Name</label>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="styled-input">
            <input type="email" required />
            <label>Email</label>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="styled-input" style="float:right;">
            <input type="text" required />
            <label>Phone Number</label>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="styled-input wide">
            <textarea required></textarea>
            <label>Message</label>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="btn-lrg submit-btn">Send Message</div>
        </div>
      </div>
    </div>
  </form>

</body>

</html>
